*{
    font-family: Inter;
<<<<<<< HEAD
font-size: 12px;
=======
    font-family: Krona One;
font-size: 12px;

>>>>>>> e91f28d (Responsive)
font-style: normal;
font-weight: 500;
line-height: 130%; /* 15.6px */
}